body {
    background-color: #e8e8e8;
    font-family: 'Noto Sans JP', sans-serif;
}
.box {
    display: flex;
    flex-direction: column;
    height: min(80vw,600px);
    width: min(80vw,600px);
    justify-content: center;
    box-sizing: border-box;
    margin: 200px auto 0;
    background-color: #e8e8e8;
    border-radius: 25px;
    box-shadow: 20px 20px 60px #c5c5c5, -20px -20px 60px #ffffff;
}
.box .inner{
    display: flex;
    flex-direction: column;
    height: 94%;
    width: 94%;
    margin: 0 auto;
    justify-content: center;
    box-sizing: border-box;
    background-color: #e8e8e8;
    background: url(../../img/back.jpeg) no-repeat;
    background-size: cover;
    border-radius: 12px;
    box-shadow: inset 20px 20px 60px #0f0f0f96, inset -20px -20px 60px #00000057;
}
.molc img {
    width: 60px;
    height: auto;
}
