body {
    background-color: #e8e8e8;
    font-family: 'Noto Sans JP', sans-serif;
}
 button {
display: block;
border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #444;
  text-align: center;
  margin: 50px auto;
  border-radius: 8px;
  background: linear-gradient(145deg, #f8f8f8, #d1d1d1);
  box-shadow:  5px 5px 10px #c5c5c5,
              -5px -5px 10px #ffffff;
}
 button:hover {
    background:#e8e8e8;
}

 button:active {
  border-radius: 8px;
  background: linear-gradient(145deg, #d1d1d1, #f8f8f8);
  box-shadow:  5px 5px 10px #c5c5c5,
               -5px -5px 10px #ffffff;
}

.box {
    display: flex;
    flex-direction: column;
    height: min(80vw,600px);
    width: min(80vw,600px);
    justify-content: center;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #e8e8e8;
    border-radius: 25px;
    box-shadow: 20px 20px 60px #c5c5c5, -20px -20px 60px #ffffff;
}
.box .inner{
    display: flex;
    flex-direction: column;
    height: 94%;
    width: 94%;
    margin: 0 auto;
    justify-content: center;
    box-sizing: border-box;
    background-color: #e8e8e8;
    background: url(../../img/back.jpeg) no-repeat;
    background-size: cover;
    border-radius: 12px;
    box-shadow: inset 20px 20px 60px #0f0f0f96, inset -20px -20px 60px #00000057;
}
.molc img {
    width: clamp(20px,50px,300px);
    height: auto;
}